
@import url('https://fonts.googleapis.com/css?family=Share');

body, *:not(i):not(.lui-icon){
  font-family: 'Share', cursive !important;
}

/*
		Coloring
*/
#nav ul li a
  { background-color: rgba(255,255,255,0.5) }


.active
  { color: #5c9ccc !important; }

.filterGroupNav i, .bnCurSelectField i,.qvToolbar i, #sidebarmenu, #analyserSubViews li a
, .kpiFooterMenue span,#analyserTitle h1, .lyLabel, .lyValue, .lyLabelTable, .lyValueTable, .InlineMenue i
  { color: #afafaf; }

.filterGroupNav i:hover, #nav ul ul li a:hover,.qvToolbar i:hover,
#analyserSubViews li a:hover, .chartSubNav a:hover, .cyLabel, .cyValue,
.bnButtonactive:hover, .cyLabelTable, .cyValueTable, .kpiFooterMenue span:hover,.InlineMenue i:hover,
#sidebarmenu i:hover, #nav ul li a
  { color: #333 }

.bookmarkList li a:hover, #footer, #header
  { color: #fff }

.bookmarkList li a:hover
  { background-color: #afafaf; }

.curSelectionBoxHeader, .bookmarkHeader
  { color: #5c9ccc }

.totalLabel, .totalValue
  { color: #5c9ccc; }

#headerOverlay, #innerOverlay, #Overlay, #contentOverlay,
#content, #nav ul li a.active, .logo, #sidebarmenu, #container, .kpi, .qvobjectMod,
.kpiFooterMenue ul li ul
  { background-color: #fff; }

#footer, #header
  { background-color: #5c9ccc; }

.qvToolbar {
  background-color: rgba(255,255,255,0.7);
  border-top: 1px solid #efefef;
}

.logo div
  { background: url("../img/qlogo.png");  background-size:cover;  }

.bookmarkList li a, .bnCurSelectField, .coloredChartHeader h1, .kpiHeader,
.kpiQuarterView tbody tr:nth-of-type(even), .kpiTop5View tbody tr:nth-of-type(even)
  { background-color: #efefef; }

#header, #nav ul ul li a
  { border-bottom: 1px solid #efefef; }

.bookmarkList li a, .kpi, .qvobjectMod,.kpiFooterMenue ul li ul
  { border: 1px solid #efefef;  }

.bnHelp
  { background-color: rgba(255, 255, 255, 0.9);
	  border: 1px dashed #afafaf; }

.bnCurSelectField
  { border: 1px solid #afafaf;
    color: #3f3f3f; }

#nav ul li ul, #nav ul li
  { background-color: #fafafa; }

#nav ul ul li a
  { color: #B7B7B7; }

.chartSubNav{
	 background-color: rgba(255,255,255,1);
	 color: #afafaf;
	 border-bottom: 1px solid #efefef;
	 border-right: 1px solid #efefef;
	 border-left: 1px solid #efefef;
}

/*
			QV Classes and fixes
*/
.sel-toolbar-cancel{
  background-color: #efefef;
  border: 1px solid #afafaf !important;
  color: #333 !important;
}

.sel-toolbar-confirm{
  background-color: #5c9ccc !important;
  border: 1px solid #afafaf !important;
  color: #333 !important;
}

.sel-toolbar-cancel:hover{
  color:#fff !important;
  background-color: #e0504e !important ;
}

.sel-toolbar-confirm:hover  {
  color:#fff !important
}

.serverSelected,.serverLocked, .selected {
  background-color: #5c9ccc !important;
}

.qvLocked  {
  color: #f48886 !important;
}

.bnCurSelectField i:hover{
  color:#333 !important
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
	border-color: 				#5c9ccc;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
	border-color: 				rgba(255,255,255,0.06);
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
	border-color: 				rgba(48,157,207,1);
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
	border-color: 				rgba(255,255,255,0.08);
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
	border-color: 				rgb(120,120,120);
}


.gradientWhiteGrey, #content {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(239,239,239,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(239,239,239,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(239,239,239,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(239,239,239,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(239,239,239,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(239,239,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef', GradientType=0 );
}



#header, #footer {
  background: rgb(99,182,219); /* Old browsers */
  background: -moz-linear-gradient(top, #5c9ccc 0%, rgba(48,157,207,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5c9ccc 0%,rgba(48,157,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5c9ccc 0%,rgba(48,157,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
}
/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #c5dbec;
}
.ui-widget-content {
	border: 1px solid #a6c9e2;
	background: #fcfdfd url("jquery-ui/imagesblue/ui-bg_inset-hard_100_fcfdfd_1x100.png") 50% bottom repeat-x;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #4297d7;
	background: #5c9ccc url("jquery-ui/imagesblue/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}
/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #c5dbec;
	background: #dfeffc url("jquery-ui/imagesblue/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #2e6e9e;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	color: #2e6e9e;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 1px solid #79b7e7;
	background: #d0e5f5 url("jquery-ui/imagesblue/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #1d5987;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #1d5987;
	text-decoration: none;
}

.ui-visual-focus {
	box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #79b7e7;
	background: #f5f8f9 url("jquery-ui/imagesblue/ui-bg_inset-hard_100_f5f8f9_1x100.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #e17009;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
	border: #79b7e7;
	background-color: #e17009;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #e17009;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fad42e;
	background: #fbec88;
	color: #363636;
}
.ui-state-checked {
	border: 1px solid #fad42e;
	background: #fbec88;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url("jquery-ui/imagesblue/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

@media screen and (min-width: 601px) {
    #container{
      -webkit-box-shadow: 8px 11px 5px -4px rgba(0,0,0,0.48);
      -moz-box-shadow: 8px 11px 5px -4px rgba(0,0,0,0.48);
      box-shadow: 8px 11px 5px -4px rgba(0,0,0,0.48);
    }

    #nav ul li
        { background-color: rgba(255,255,255,0) }

    #nav ul li a{
      color:#fff
    }

    #nav ul ul li a:hover {
    		background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    		background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    		background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    }

    #nav ul li ul {
    		-webkit-box-shadow: 5px 5px 5px -3px rgba(120,114,120,1);
    		-moz-box-shadow: 5px 5px 5px -3px rgba(120,114,120,1);
    		box-shadow: 5px 5px 5px -3px rgba(120,114,120,1);
    }

    body {

      background-image: linear-gradient(to right bottom, #003c57, #1a5373, #306a8f, #4683ad, #5c9ccc);
  	}
}
